
/* font-family Montserrat */
@font-face {
    font-family: Montserrat;
    src:url('../Montserrat/Montserrat-Regular.ttf')
}

/* font-family Raleway */
@font-face {
    font-family: Raleway;
    src:url('../Raleway/static/Raleway-Regular.ttf')
}

/* font-family Roboto */
@font-face {
    font-family: Roboto;
    src:url('../Roboto/Roboto-Regular.ttf')
}